body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 90%vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#color-input,
#modes-select,
#get-scheme-btn {
    height: 2.625rem;
    margin: 0.6em;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
}

#color-input:focus,
#modes-select:focus,
#get-scheme-btn:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease; 
}

#color-input {
    width: 5em;
}

#modes-select {
    width: 19.5em;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #111827;
}
#get-scheme-btn {
    width: auto;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    background-color: #FFFFFF;
    color: #374151; 
}

.colors-container {
    display: flex;
    margin-top: 1em;
}

.color {
    width: calc(50% - 0.625em);
    height: 26em;
}

.hex-values {
    height: 2.875em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.875rem;
    color: #2B283A;
}

@media (min-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        background-color: #d7dbe0;
    }

    .container {
        max-width: 550px;
        width: 100%;
        margin-top: 6em;
        border: 1px solid black;
    }

    #color-input,
    #modes-select,
    #get-scheme-btn {
        margin: 1.2em 0;
    }

    .colors-container {
        margin: 0;
    }
}